*~
*.log
*.map
autom4te.cache
config.status
CHANGES
*.cproject
*.gb_project
*.project
ChangeLog
.settings
configure.lineno
Makefile.conf
openapi.gpr
openapi_server.gpr
openapi_tests.gpr
testapi_server.gpr
testapi_model.gpr
swagger-tests.xml
bin
obj/
lib/
regtests/results
swagger-*aunit.xml
src/server/swagger-servers-config.ads
src/server/openapi-servers-config.ads
alire
cover
wiki
openapi.cov
*.substvars
debian/lib*
debian/.debhelper/
debian/autoreconf.after
debian/autoreconf.before
debian/debhelper-build-stamp
debian/files
