*~
*.log
Makefile
config.status
CHANGES
*.cproject
*.gb_project
*.project
*.log
ChangeLog
.settings
configure.lineno
Makefile
swagger.gpr
swagger_tests.gpr
swagger-tests.xml
bin/
obj/
lib/
regtests/results
swagger-aunit.xml