*~
*.log
*.map
autom4te.cache
CHANGES
*.cproject
*.gb_project
*.project
ChangeLog
.settings
Makefile.conf
testapi_server.gpr
testapi_model.gpr
swagger-tests.xml
bin
obj/
lib/
regtests/results
swagger-*aunit.xml
server/src/openapi-servers-config.ads
alire
cover
wiki
openapi.cov
*.substvars
debian/lib*
debian/.debhelper/
debian/autoreconf.after
debian/autoreconf.before
debian/debhelper-build-stamp
debian/files
