Source: libopenapi
Priority: optional
Section: libdevel
Maintainer: Stephane Carrez <Stephane.Carrez@gmail.com>
Build-Depends: debhelper (>= 10), autotools-dev,
 dh-ada-library,
 gnat, gnat-9,
# This line is parsed by debian/rules.
 gprbuild (>= 2015-2),
# 2015-2 is compatible with gnat-6
 libxmlada-sax9-dev,
 libservletada3-dev,
 libservletada-unit3-dev,
 libutilada-xml3-dev,
 libutilada-aws3-dev,
 libutilada-curl3-dev
Standards-Version: 4.1.4
Homepage: https://github.com/stcarrez/swagger-ada/
Vcs-Git: https://github.com/stcarrez/swagger-ada.git -p debian-gnat-9
Vcs-Browser: https://github.com/stcarrez/swagger-ada/tree/debian-gnat-9

Package: libopenapi0.6.0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OpenAPI Ada Client Support (runtime)
 The OpenAPI Ada library is a small support library for the Ada code
 generator provided by OpenAPI Codegen.  The library provides support to
 serialize the data, make HTTP requests and support the OpenAPI Spec
 (https://github.com/OAI/OpenAPI-Specification).
 .
 This package contains the runtime client libraries.

Package: libopenapi-server0.6.0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OpenAPI Ada Server Support (runtime)
 The OpenAPI Ada library is a small support library for the Ada code
 generator provided by OpenAPI Codegen.  The library provides support to
 serialize the data, make HTTP requests and support the OpenAPI Spec
 (https://github.com/OAI/OpenAPI-Specification).
 .
 This package contains the runtime server libraries.

Package: libopenapi3-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, ${ada:Depends}
Description: OpenAPI Ada Client Support (development)
 The OpenAPI Ada library is a small support library for the Ada code
 generator provided by OpenAPI Codegen.  The library provides support to
 serialize the data, make HTTP requests and support the OpenAPI Spec
 (https://github.com/OAI/OpenAPI-Specification).
 .
 This package contains the development files for OpenAPI Ada clients.

Package: libopenapi-generator3-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, openjdk-11-jre
Description: OpenAPI Ada Generator (development)
 This is the OpenAPI Code gnerator that is capable of generating
 Ada client and server support with the OpenAPI Ada library.

Package: libopenapi-server3-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, ${ada:Depends}
Description: OpenAPI Ada Server Support (development)
 The OpenAPI Ada library is a small support library for the Ada code
 generator provided by OpenAPI Codegen.  The library provides support to
 serialize the data, make HTTP requests and support the OpenAPI Spec
 (https://github.com/OAI/OpenAPI-Specification).
 .
 This package contains the development files for OpenAPI Ada servers.
